<footer id="footer">
    <div class="container">
        <div class="row">
        <div class="footer-wrapper">
          <div class="col-md-3 col-sm-3">
            <a routerLink="/"><img width="200px" src="assets/images/logo-black.png" alt="" class="footer-logo" /></a>
            <ul class="list-inline social-icons">
                <li><a href="#"><i class="icon ion-social-facebook"></i></a></li>
                <li><a href="#"><i class="icon ion-social-twitter"></i></a></li>
                <li><a href="#"><i class="icon ion-social-googleplus"></i></a></li>
                <li><a href="#"><i class="icon ion-social-pinterest"></i></a></li>
                <li><a href="#"><i class="icon ion-social-linkedin"></i></a></li>
            </ul>
          </div>
          <div class="col-md-2 col-sm-2">
            <h6>For individuals</h6>
            <ul class="footer-links">
              <li><a routerLink="/">Signup</a></li>
              <li><a routerLink="/">login</a></li>
              <li><a routerLink="/">Explore</a></li>
              <li><a routerLink="/">Finder app</a></li>
              <li><a routerLink="/">Features</a></li>
              <li><a routerLink="/">Language settings</a></li>
            </ul>
          </div>
          <div class="col-md-2 col-sm-2">
            <h6>For businesses</h6>
            <ul class="footer-links">
              <li><a routerLink="/">Business signup</a></li>
              <li><a routerLink="/">Business login</a></li>
              <li><a routerLink="/">Benefits</a></li>
              <li><a routerLink="/">Resources</a></li>
              <li><a routerLink="/">Advertise</a></li>
              <li><a routerLink="/">Setup</a></li>
            </ul>
          </div>
          <div class="col-md-2 col-sm-2">
            <h6>About</h6>
            <ul class="footer-links">
              <li><a routerLink="/">About us</a></li>
              <li><a routerLink="/contact">Contact us</a></li>
              <li><a routerLink="/">Privacy Policy</a></li>
              <li><a routerLink="/">Terms</a></li>
              <li><a routerLink="/">Help</a></li>
            </ul>
          </div>
          <div class="col-md-3 col-sm-3">
            <h6>Contact Us</h6>
              <ul class="contact">
                  <li><i class="icon ion-ios-telephone-outline"></i>+91 8057124197</li>
                  <li><i class="icon ion-ios-email-outline"></i>vipul.chikara.6002@gmail.com</li>
                <li><i class="icon ion-ios-location-outline"></i>119 Bose, Dit University, Dehradun</li>
              </ul>
          </div>
        </div>
        </div>
    </div>
      </footer>
