<app-header></app-header>
<div class="container">

    <!-- Timeline
    ================================================= -->
    <div class="timeline">
      <div class="timeline-cover">

        <!--Timeline Menu for Large Screens-->
        <div class="timeline-nav-bar hidden-sm hidden-xs">
          <div class="row">
            <div class="col-md-3">
              <div class="profile-info">
                <img src="http://placehold.it/300x300" alt="" class="img-responsive profile-photo" />
                <h3>Bhupesh Chikara</h3>
                <p class="text-muted">Angular Developer</p>
              </div>
            </div>
            <div class="col-md-9">
              <ul class="list-inline profile-menu">
                <li><a routerLink="/timeline/post" class="active">Timeline</a></li>
                <li><a routerLink="/timeline/about">About</a></li>
                <li><a routerLink="/timeline/album">Album</a></li>
                <li><a routerLink="/timeline/friends">Friends</a></li>
              </ul>
              <ul class="follow-me list-inline">
                <li>1,299 peoples followers</li>
                <!-- <li><button class="btn-primary">Add Friend</button></li> -->
                <!-- <li><button class="btn-danger">Remove Friend</button></li> -->
              </ul>
            </div>
          </div>
        </div><!--Timeline Menu for Large Screens End-->

        <!--Timeline Menu for Small Screens-->
        <div class="navbar-mobile hidden-lg hidden-md">
          <div class="profile-info">
            <img src="http://placehold.it/300x300" alt="" class="img-responsive profile-photo" />
            <h4>Bhupesh Chikara</h4>
            <p class="text-muted">Angular Developer</p>
          </div>
          <div class="mobile-menu">
            <ul class="list-inline">
              <li><a routerLink="/timline/post" class="active">Timeline</a></li>
              <li><a routerLink="/timeline/about">About</a></li>
              <li><a routerLink="/timeline/album">Album</a></li>
              <li><a routerLink="/timeline/friends">Friends</a></li>
            </ul>
            <!-- <button class="btn-primary">Add Friend</button> -->
          </div>
        </div><!--Timeline Menu for Small Screens End-->

      </div>
      <div id="page-contents">
        <div class="row">
          <div class="col-md-3"></div>
          <div class="col-md-7">

            <!-- Friend List
            ================================================= -->
            <router-outlet></router-outlet>
            
          </div>
          <div class="col-md-2 static">
            <div id="sticky-sidebar">
              <h4 class="grey">Bhupesh's activity</h4>
              <div class="feed-item">
                <div class="live-activity">
                  <p><a routerLink="#" class="profile-link">Bhupesh</a> Commented on a Photo</p>
                  <p class="text-muted">5 mins ago</p>
                </div>
              </div>
              <div class="feed-item">
                <div class="live-activity">
                  <p><a routerLink="#" class="profile-link">Bhupesh</a> Has posted a photo</p>
                  <p class="text-muted">an hour ago</p>
                </div>
              </div>
              <div class="feed-item">
                <div class="live-activity">
                  <p><a routerLink="#" class="profile-link">Bhupesh</a> Liked her friend's post</p>
                  <p class="text-muted">4 hours ago</p>
                </div>
              </div>
              <div class="feed-item">
                <div class="live-activity">
                  <p><a routerLink="#" class="profile-link">Bhupesh</a> has shared an album</p>
                  <p class="text-muted">a day ago</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<app-footer></app-footer>  