<div class="friend-list">
    <div class="row">
        <div class="col-md-6 col-sm-6" *ngFor="let friend of friends">
      <div class="friend-card">
          <img src="http://placehold.it/1030x360" alt="profile-cover" class="img-responsive cover" />
          <div class="card-info">
          <img src="http://placehold.it/300x300" alt="user" class="profile-photo-lg" />
          <div class="friend-info">
            <a href="#" class="pull-right text-green">My Friend</a>
              <h5><a routerLink="/timeline/post" class="profile-link">{{friend.name}}</a></h5>
              <p>Student at Dit University</p>
          </div>
        </div>
      </div>
    </div>
    </div>
</div>